body {
  color: black;
  font-family: 'Franklin Gothic Medium';
  background-color: white;
}

category {
  font-size: 60pt;
  display: flex;
  padding-top: 35%;
  align-items: center;
  justify-content: center;
  page-break-after: always;
}

recipe {
  background: white;
  font-size: large;
  display: block;
  width: 21cm;
  height: 29.7cm;
}

h1 {
  font-size: 48pt;
  padding-left: 2%;
  display: block;
  page-break-before: always;
}

img {
  float: right;
  padding-top: 5%;
  padding-right: 2%;
  display:block;
  max-width: 350px;
  max-height: 350px;
  width: auto;
  height: auto;
}

ingredients {
  display: block;
}

ingredient {
  font-size: large;
  padding-left: 2%;
}

extras {
  display: block;
  padding-top: 2%;
  font-size: large;
}

extra {
  font-size: large;
  padding-top: 0%;
  padding-left: 2%;
}

steps {
  display: block;
}

step {
  display: block;
  page-break-inside: avoid;
}

servings, time, ingredients, steps, step {
  padding-left: 2%;
  padding-top: 2%;
  font-size: large;
}

@page {
  size: A4;  
  margin: 35pt 30pt 35pt 30pt;

  
  @bottom-right {
    content: counter(page);
  }
}