body {
  color: black;
  font-family: 'Franklin Gothic Medium';
  background-color: white;
}

recipe {
  background: white;
  font-size: large;
  display: block;
  width: 21cm;
  height: 29.7cm;
}

h1 {
  font-size: 400%;
  padding-left: 2%;
  display: block;
  page-break-before: always;
}

img {
  float: right;
  padding-top: 5%;
  padding-right: 2%;
  display:block;
  max-width: 350px;
  max-height: 350px;
  width: auto;
  height: auto;
}

servings {
  font-size: large;
  padding-top: 2%;
  padding-left: 2%;
}

time {
  font-size: large;
  padding-top: 2%;
  padding-left: 2%;
}

ingredients {
  font-size: large;
  padding-top: 2%;
  padding-left: 2%;
  display: block;
}

ingredient {
  font-size: large;
  padding-left: 2%;
}

extras {
  font-size: large;
  padding-top: 2%;
  display: block;
}

extra {
  font-size: large;
  padding-top: 0%;
  padding-left: 2%;
}

steps {
  font-size: large;
  padding-top: 2%;
  padding-left: 2%;
  display: block;
}

step {
  display: block;
  padding-left: 2%;
  padding-right: 2%;
  font-size: large;
  page-break-inside: avoid;
}

@page {
  size: A4;  
  margin: 70pt 60pt 70pt;
}